*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;

}
body{
    background-image: url("./src/1161810.jpg");

    height: 100vh;

    background-repeat: no-repeat;
}
body::before {
    position: fixed;
    top: 0px;
    bottom: 0px;
    content: '';
    width: 100%;
    background-color: rgba(0,0,0,0.3);

}
.container{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    width: 1300px;
    border-radius: 20px;
}
.container-header h1{
    font-size: 100px;
    color: white;
    text-align: center;
}
.container-timedisplay{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.container-timedisplay .timebox{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    width: auto;
    text-align: center;
    border-radius: 20px;

}
.timedisplay-num{
    font-size: 100px;
    font-weight: bold;
}
.timedisplay-title{
    font-style: italic;
    font-size: 30px;
}
.container-header
{
    text-align: center;

}
.container-header > *
{
    margin-bottom: 30px;
    
}
.container-timedisplay{
    margin-top: 30px;
    margin-bottom: 30px;
}
#nofi{
    font-size: 50px;
}
#time-target{
    font-style: italic;
    font-size: 20px;
}
.footer-info{
    font-size: 20px;
    text-align: center;
    font-style: italic;

}
.footer-info >*{
    margin-bottom: 20px;
}
@media (max-width : 1328px) {
    .container-timedisplay{
        display: block;
        flex-direction: column;

    }
    .container-timedisplay > *{
        margin-bottom: 20px;

    }
    .container{
        position: unset;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        transform: unset;
        margin: 30px auto;
        padding: 10px 20px;
        width: 95%;

    }
    body::before {
        display: none;
    
    }
    .timedisplay-num{
        font-size: 50px;
        font-weight: bold;
    }
    .timedisplay-title{
        font-style: italic;
        font-size: 20px;
    }
    .container-header h1{
        font-size: 30px;
        color: white;
        text-align: center;
    }
    #nofi{
        font-size: 30px;
    }
    #time-target{
        font-style: italic;
        font-size: 20px;
    }

}